<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/home.css" />
  </head>
  <body>
    <div id="container">
      <h1>
        Jovian Careers
      </h1>
      <img id="banner" src="../static/images/banner.jpg" height="320px">
      <h2>About Jovian</h2>
      <p class="bodytext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper quam vel tortor fringilla scelerisque. Donec vestibulum porttitor elementum. Nunc lacinia at tellus at posuere. Sed augue elit, pharetra sed leo eget, cursus porta tellus. Nulla ultricies ex velit, in sollicitudin nulla scelerisque id. Aliquam sed bibendum dui, eget porta nulla. Proin ornare quam purus, eu accumsan mi mattis vitae. Praesent euismod ante nec mi vestibulum pellentesque. Etiam ut lectus ac sem volutpat gravida. Donec nec felis blandit, sagittis nisl id, fermentum velit.
      </p>
      <h2>Open Positions</h2>
      <p>TODO - Show the jobs here</p>
      <div id="butt">
        <button>Contac Us</button>
        <p>Copyright 2023, Javian</p>
      </div>
    </div>
  </body>
</html>